# Eclipse
.project
.classpath
.settings/
bin/
.mvn/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.mvn/wrapper/maven-wrapper.jar
src/main/resources/ak-quarkus-hackfest1-794ffba5101c.json
provision/files/ak-htpasswd-secret.yml
provision/secrets/ocp-users.htpasswd
provision/upload/
chatbot/src/main/resources/ak-quarkus-hackfest1-apikey.json
upload/
sentiment-processor/ak-quarkus-hackfest1-e4e0e3749203.json
