- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: amqstreams-opg
    namespace: {{ project_name }} 
  spec:
    targetNamespaces:
    - {{ project_name }} 


- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: amq-streams
    namespace: {{ project_name }}
  spec:
    channel: stable
    installPlanApproval: Automatic
    name: amq-streams
    source: redhat-operators
    sourceNamespace: openshift-marketplace