- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: knative-kafka-operator
    namespace: openshift-operators
  spec:
    channel: alpha
    installPlanApproval: Automatic
    name: knative-kafka-operator
    source: community-operators
    sourceNamespace: openshift-marketplace  

- apiVersion: eventing.knative.dev/v1alpha1
  kind: KnativeEventingKafka
  metadata:
    name: knative-eventing-kafka
    namespace: akuser3-dev
  spec:
    bootstrapServers: 'dev-cluster-kafka-bootstrap.amq-streams1.svc.cluster.local:9092'
    setAsDefaultChannelProvisioner: true
